<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- iisnode settings -->
    <iisnode 
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxRequestBufferSize="65536"
      watchedFiles="boot.server.js;src\*\*.js"
      uncFileChangesPollingInterval="5000"
      appendSourceFileLineNumbers="true"
      debuggingEnabled="false"
      loggingEnabled="true"
      devErrorsEnabled="false"
      flushResponse="true"
      enableXFF="false"
      promoteServerVars="SERVER_PORT,SERVER_ADDR,REMOTE_ADDR,REMOTE_HOST,HTTP_X_FORWARDED_PROTO,HTTP_X_FORWARDED_FOR"
      gracefulShutdownTimeout="60000"
      logDirectory="iisnode"
    />

    <!-- URL rewrite rules for Node.js app -->
    <rewrite>
      <rules>
        <clear />
        <rule name="app" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="boot.server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Static files -->
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>

    <!-- Compression -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <staticTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>

    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Powered-By" value="" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>

    <!-- Handler mapping for Node.js -->
    <handlers>
      <add name="iisnode" path="boot.server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Keep WebSocket enabled -->
    <webSocket enabled="false" />
  </system.webServer>

  <!-- Node.js app settings -->
  <appSettings>
    <add key="NODE_ENV" value="production" />
  </appSettings>
</configuration>
