<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Redireccionar HTTP a HTTPS -->
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}{REQUEST_URI}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuración del servidor Node.js -->
    <webSocket enabled="true" />
    
    <handlers>
      <add name="iisnode" path="boot.server.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode 
      nodeProcessCommandLine="&quot;%ProgramFiles%\nodejs\node.exe&quot;"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="false"
      flushResponse="false"
    />

    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^/debug[/]?" />
          <action type="Rewrite" url="/" />
        </rule>
        
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="boot.server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuración de acceso -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
          <add segment=".env" />
          <add segment=".git" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Logging -->
    <httpLogging>
      <select logFields="Date,Time,ClientIP,UserAgent,Referer,Host,Method,UriStem,UriQuery,HttpStatus,HttpSubStatus,Win32Status,ServerIP,ServerPort,TimeTaken" />
    </httpLogging>
  </system.webServer>
</configuration>
