name: Deploy to Azure

on:
  push:
    branches: [ main, develop ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: bibliotecainteligente
        publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
        package: '.'
